body {
  margin: 0.5cm;
}
h1,h2 {
  color:#000080;
}
h3 { color:#0000A0;}
table {
   border-style : solid;
	border-width: 1;
	border-collapse: collapse;
}
td {
  border-style: solid;
  border-width: 1;
  padding:5px;
}
img {vertical-align:middle;}
